   ];
   </script>
   <canvas id="renderCanvas"></canvas>
   <script type="text/javascript">
      // Get the canvas element from our HTML below
      var canvas = document.querySelector("#renderCanvas");
      // Load the BABYLON 3D engine
      var engine = new BABYLON.Engine(canvas, true);
      // -------------------------------------------------------------
      // Here begins a function that we will 'call' just after it's built
      var createScene = function () {
         // Now create a basic Babylon Scene object
         var scene = new BABYLON.Scene(engine);
         // Change the scene background color to green.
         scene.clearColor = new BABYLON.Color3(0, 0, 0);
         // This creates and positions a free camera
         var camera = new BABYLON.FreeCamera("camera1", new BABYLON.Vector3(steps[0].length/2, steps.length+50, steps[0][0].length/2), scene);
         // This targets the camera to scene origin
         camera.setTarget(new BABYLON.Vector3(steps[0].length/2, 0, steps[0][0].length/2));
         // This attaches the camera to the canvas
         camera.attachControl(canvas, false);
         // This creates a light, aiming 0,1,0 - to the sky.
         var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);
         // Dim the light a small amount
         light.intensity = .5;
         // Let's try our built-in 'sphere' shape. Params: name, subdivisions, size, scene
         /*var sphere = BABYLON.Mesh.CreateSphere("sphere1", 16, 2, scene);
         // Move the sphere upward 1/2 its height
         sphere.position.y = 1;*/

		 var cell = BABYLON.Mesh.CreateBox("cell", 1, scene);
		 for (var i=0 ; i < steps.length ; i++) {
		 	for (var line=0 ; line < steps[i].length ; line++) {
			 	for (var col=0 ; col < steps[i][line].length ; col++) {
			 		if (steps[i][line][col] == 1) {
				 		var instance = cell.createInstance('cell');
				 		instance.position.x = line;
				 		instance.position.y = i;
				 		instance.position.z = col;
				 	}
			 	}
			 }
		 }
		 //cell.dispose();
		 /*function get_cells_around(level, line, col) {
		 	var cells = [];
		 	for (var i=line-1 ; i <= line+1 ; i++) {
		 		for (var j=col-1 ; j <= col+1 ; j++) {
		 			if (i >= 0
		 				&& i < level.length
		 				&& j >= 0
		 				&& j < level[i].length) {
		 				if(level[i][j] == 1) cells.push({line:i,col:j});
		 			}
		 		}
		 	}
		 	return cells;
		 }
		 var lines_to_create = [];
		 for (var i=0 ; i < steps.length ; i++) {
		 	if (i == steps.length - 1) break;
		 	console.log('Step ' + i);
		 	for (var line=0 ; line < steps[i].length ; line++) {
			 	for (var col=0 ; col < steps[i][line].length ; col++) {
				 	var next_cells = get_cells_around(steps[i+1], line, col);
				 	for (var k=0 ; k < next_cells.length ; k++) {
				 		//lines_to_create.push([new BABYLON.Vector3(line, i, col), new BABYLON.Vector3(next_cells[k].line, i+1, next_cells[k].col)]);
				 		lines_to_create.push(new BABYLON.Vector3(line, i, col));
				 		lines_to_create.push(new BABYLON.Vector3(next_cells[k].line, i+1, next_cells[k].col));
				 	}
			 	}
			 }
		 }
		 console.log(lines_to_create.length + " lines ready!");
		 BABYLON.Mesh.CreateLines("", lines_to_create, scene);*/
		 //for (var i=0 ; i < lines_to_create.length ; i++) BABYLON.Mesh.CreateLines("", lines_to_create[i], scene);

         // Leave this function
         return scene;
      }; // End of createScene function
      // -------------------------------------------------------------
      // Now, call the createScene function that you just finished creating
      var scene = createScene();
      // Register a render loop to repeatedly render the scene
      engine.runRenderLoop(function () {
         scene.render();
      });
      // Watch for browser/canvas resize events
      window.addEventListener("resize", function () {
         engine.resize();
      });
   </script>
</body>
</html>
